<div class="giving__data-point">
    <div class="giving__data-point__container">
        <div class="giving__data-point__stat-container">
            <p class="giving__data-point__stat">{{content.field_stat_data_point}}</p>
            <p class="data-point__stat-subtext">{{content.field_title_data_point}}</p>
        </div>
        <div class="giving__data-point__description">
            <p> {{content.field_stat_body}}</p>
            {% if content.field_data_point_link %}
            <p><a href="{{content.field_data_point_link[0]['#url']}}" class="fancy-link"><span class="fancy-link-text">{{content.field_data_point_link[0]['#title']}}</span><span class="icon-arrow-right"></span></a></p>
            {% endif %}
        </div>
    </div>
</div>