<div id="wrapper" style="height:100%">
	<header class="container-fluid">
		<div class="row">
			<div id="logo">
				<a href="http://howard.edu">
					<img src="/{{ directory }}/images/howardu_clocktower_logo_landscape_white.png"/>
				</a>
				<a id="title" href="/">
					<span>O</span>ffice of<br/><span>R</span>esearch
				</a>
			</div>
			<div id="menu">
				{{ page.primary_menu }}
			</div>
		</div>
	</header>
	<div id="secondary-menu">
		{{ page.secondary_menu }}
	</div>
	<div id="slideshow-wrapper">
		<div id="slideshow">
			<div class="video-container">
				<video muted>
					<source src="https://howardmedia.blob.core.windows.net/research-video-slideshow/research-video-7.mp4" type="video/mp4">
					Your browser does not support HTML5 video.
				</video>
				<div class="video-text">
					Innovation
				</div>
			</div>
			<div class="video-container">
				<video muted>
					<source src="https://howardmedia.blob.core.windows.net/research-video-slideshow/research-video-1.mp4" type="video/mp4">
					Your browser does not support HTML5 video.
				</video>
				<div class="video-text">
					Integrity
				</div>
			</div>
			<div class="video-container">
				<video muted>
					<source src="https://howardmedia.blob.core.windows.net/research-video-slideshow/research-video-3.mp4" type="video/mp4">
					Your browser does not support HTML5 video.
				</video>
				<div class="video-text">
					Resposibility
				</div>
			</div>
			<div class="video-container">
				<video muted>
					<source src="https://howardmedia.blob.core.windows.net/research-video-slideshow/research-video-4.mp4" type="video/mp4">
					Your browser does not support HTML5 video.
				</video>
				<div class="video-text">
					Inspiration
				</div>
			</div>
			<div class="video-container">
				<video muted>
					<source src="https://howardmedia.blob.core.windows.net/research-video-slideshow/research-video-5.mp4" type="video/mp4">
					Your browser does not support HTML5 video.
				</video>
				<div class="video-text">
					Trust
				</div>
			</div>
		</div>
		<div id="slideshow-nav"></div>
	</div>
	<div id="news-and-spotlight">
		<div class="container section">
			<h1>Research News and Spotlights</h1>
			<br/>
			<h2>The lastest on Howard University Research</h2>
			<br/>
			<br/>
			<div class="card-deck">
			  <div class="card">
			  <a href="/">
				<img src="/{{ directory }}/images/howard-university-founders-library-wide.jpg" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
				  <h5 class="card-title">Howard awarded 10 million in research funding.</h5>
				  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
				
			  </div>
			  <div class="card">
			  <a href="/">
				<img src="/{{ directory }}/images/howard-university-research-week.jpg" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
				  <h5 class="card-title">Students discover cure for laziness.</h5>
				  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
				  <p class="card-text"><small class="text-muted">Last updated Sep. 24, 2019</small></p>
				</div>
			  </div>
			  <div class="card">
			  <a href="/">
				<img src="/{{ directory }}/images/research-building.jpg" class="card-img-top" alt="...">
				</a>
				<div class="card-body">
				  <h5 class="card-title">Does soul food Thursday really cause students to sleep.</h5>
				  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				  <p class="card-text"><small class="text-muted">Last updated Sep. 12, 2019</small></p>
				</div>
			  </div>
			</div>
			<br/>
			<br/>
			<a class="btn btn-secondary" href="/about/research-news-and-spotlight">More on Research News and Spotlights</a>
		</div>
	</div
	<div id="upcoming-events">
		<div class="container section">
			<h1>Upcoming Research Events</h1>
			<br/>
			<h2>What is happening</h2>
			<br/>
			<br/>
			<div class="card-deck">
			  <div class="card">
				<img src="/{{ directory }}/images/howard-university-founders-library-wide.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			  </div>
			  <div class="card">
				<img src="/{{ directory }}/images/howard-university-research-week.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			  </div>
			  <div class="card">
				<img src="/{{ directory }}/images/research-building.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			  </div>
			  <div class="card">
				<img src="/{{ directory }}/images/research-building.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			  </div>
			</div>
			<br/>
			<br/>
			<div class="card-deck">
			  <div class="card">
				<img src="/{{ directory }}/images/howard-university-founders-library-wide.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			  </div>
			  <div class="card">
				<img src="/{{ directory }}/images/howard-university-research-week.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			  </div>
			  <div class="card">
				<img src="/{{ directory }}/images/research-building.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			  </div>
			  <div class="card">
				<img src="/{{ directory }}/images/research-building.jpg" class="card-img-top" alt="...">
				<div class="card-body">
				  <h5 class="card-title">Card title</h5>
				  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
				</div>
			  </div>
			</div>
			<br/>
			<br/>
			<a class="btn btn-secondary" href="/about/events">More on Research Events</a>
		</div>
	</div>
	<div id="sponsors">
		<div class="container section">
			<br/>
			<h1>Research Development & Industry Partners</h1>
			<br/>
			<h2>We would like to thank all of the partners that make Howard University Research possible</h2>
			<br/>
			<br/>
			<a class="btn btn-secondary" href="/">More on Industry Partners</a>
		</div>
	</div>
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm">
				    {{ page.footer_first }}
				</div>
				<div class="col-sm">
					<img class="logo" src="/{{ directory }}/images/howardu_clocktower_logo_portrait_white.png"/>
				</div>
				<div class="col-sm">
				    {{ page.footer_second }}
				</div>
			</div>
		</div>
		<div id="footer2">
		&copy; <a target="_blank" href="http://www.howard.edu/">Howard University</a>, all rights reserved.
		</div>
	</div>
</div>
        
