{#
/**
 * @file
 * HP Programs Feed paragraph bundle.
 *
 * @ingroup themeable
 */
#}

<section class="section--padded-top section--padded-bottom hp-programs-feed" aria-label="Programs Feed">
  <div class="programs section--blue">
    {% if content.field_hp_pgf_title %}
      <h2 class="header--h2 header--white">{{ content.field_hp_pgf_title }}</h2>
    {% endif %}
    {{ content.field_hp_pgf_text }}
    <div class="programs__nav">
        {% if content.field_hp_pgf_subtitle %}
          <h4>{{ content.field_hp_pgf_subtitle }}</h4>
        {% endif %}
        {% if hp_pgf_programs[0] %}
          <nav>
            <ul>
              <div class="silc-grid silc-grid--collapse">
                {% for program in hp_pgf_programs %}
                <div class="silc-grid__col silc-grid__col--4-table silc-grid__col--6-small">
                  <a href="{{ program.master_link.url }}" class="fancy-link fancy-link--light">
                    <span>{{ program.label }}</span>
                  </a>
                  <span class="hp-programs-feed--meta">{{ program.related_degrees }} {{ program.program_type }}</span>
                </div>
                {% endfor %}
              </div>
            </ul>
          </nav>
        {% else %}
          <p>Sorry, no programs match that criteria.</p>
        {% endif %}
    </div>
  </div>
</sction>
