{#
/**
 * @file
 * HP Programs Feed paragraph bundle.
 *
 * @ingroup themeable
 */
#}

<section class="section--padded-top section--padded-bottom hp-programs-feed" aria-label="Programs Feed">
  <div class="program-finder">
    {% if content.field_hp_pgf_title %}
      <h2 class="program-finder__heading header--h2">{{ content.field_hp_pgf_title }}</h2>
    {% endif %}
    {{ content.field_hp_pgf_text }}
    {% if content.field_hp_pgf_subtitle %}
      <h3 class="program-finder__nav-heading">{{ content.field_hp_pgf_subtitle }}</h3>
    {% endif %}
    <div class="program-finder-app">
      <program-finder env="{{ hp_pgf_env_url }}" degree="{{ hp_pgf_degree }}" school="{{ hp_pgf_school }}" subject="{{ hp_pgf_subject }}"/>
    </div>
    <noscript>
      <p>Sorry, Javascript is required to use the program finder.</p>
    </noscript>
  </div>
</section>
