{#
/**
 * @file
 * HP Profiles Feed paragraph bundle.
 *
 * @ingroup themeable
 */
#}

<section class="section--padded-top section--padded-bottom">
  {% if hp_show_wrapper %}
    <div class="compartment">
  {% endif %}

      {% if content.field_hp_pf_title[0] %}
        <div class="block-header">
            <div class="block-header__title">
                <span class=" block-header__icon icon-our-people"></span>
                <h2>{{ content.field_hp_pf_title }}</h2>
            </div>
        </div>
      {% endif %}

      <div class="silc-grid">

        {% for prsn in hp_pf_profiles %}
          <div class="silc-grid__col silc-grid__col--4-medium">
            <div class="faculty-profile">
              <div class="faculty-profile__block">
              {% if prsn.image.large %}
                <div class="faculty-profile__img" style="background-image:url('{{ prsn.image.large }}')"></div>
              {% else %}
                <div class="faculty-profile__img" style="background-image:url('https://profiles.howard.edu/sites/all/modules/idfive_profile_api/assets/images/avatar.jpg')"></div>
              {% endif %}
                <h3>{{ prsn.first_name }} {{ prsn.last_name }}</h3>
                {% if prsn.pronoun %}
                  <h5><em>{{prsn.pronoun}}</em></h5>
                {% endif %}
                <h4>{{ prsn.position_title[0]|raw }}</h4>
                <h5>{{ prsn.taxonomy_3[0]|raw }}</h5>
                <div class="faculty-profile__divider"></div>
                {% if prsn.show_email %}
                  <a href="mailto:{{ prsn.email }}" class=" faculty-profile__link faculty-profile__email"><span class="icon icon-envelope"></span>{{ prsn.email }}</a>
                {% endif %}
              </div>
              <div class="faculty-profile__btn">
                <a href="{{ hp_pf_env_url }}/profile/{{ prsn.id }}/{{ prsn.uri }}" class="fancy-link fancy-link--dark" target="_blank">
                  <span>View Full Profile<span class="visually-hidden"> of {{ prsn.first_name }}</span></span>
                  <span class="icon-arrow-right"></span>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
  {% if hp_show_wrapper %}
    </div>
  {% endif %}
</section>
