{#
/**
 * @file
 * Theme override for feed of articles.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

<div class="silc-grid__col silc-grid__col--4-medium">
    <a href="{{ path('entity.node.canonical', {'node': fields.nid.content}) }}" class="news-and-events__block">
        <div class="news-and-events__img" style="background-image:url('{{fields.field_media_image.content}}')"></div>
        <div class="news-and-events__desc">
            <span class="news-and-events__date">{{fields.created.content}}</span>
            <h3 class="news-and-events__title header--h3-small">{{fields.title.content}}</h3>
            <p class="body-text--small">{{fields.body.content}}</p>
            <p class="body-text--small"><strong>Category:</strong> {{fields.field_hc_article_category.content}}</p>
        </div>
    </a>
</div>