{#
/**
* @file
* Theme override for feed of articles.
*
* @see template_preprocess_views_view_fields()
*/
#}

<div class="silc-grid__col silc-grid__col--4-medium">
	{% if fields.field_hc_article_type.content == 'External Article' %}
		<a href="{{ fields.field_hc_article_link.content }}" class="news-and-events__block" target="_blank">
			<div class="news-and-events__desc">
				<span class="news-and-events__date">{{ fields.field_hc_article_dateline.content }}</span>
				<h3 class="news-and-events__title header--h3-small">{{ fields.title.content }}</h3>
				{% if fields.field_hc_article_source.content %}
					<p class="body-text--small">
						<strong>Source:
						</strong>
						{{ fields.field_hc_article_source.content }}
					</p>
				{% endif %}
				{% if fields.field_hc_article_category.content %}
					<p class="body-text--small">
						<strong>Category:
						</strong>
						{{ fields.field_hc_article_category.content }}
					</p>
				{% endif %}
			</div>
		</a>
	{% else %}
		<a href="{{ path('entity.node.canonical', {'node': fields.nid.content|render|striptags|trim}) }}" class="news-and-events__block">
			{% if fields.field_media_image.content|render|striptags|trim %}
				<div class="news-and-events__img news_article" style="background-image:url('{{ fields.field_media_image.content|render|striptags|trim }}'); display:block;"></div>
			{% endif %}
			<div class="news-and-events__desc">
				<span class="news-and-events__date">{{ fields.created.content }}</span>
				<h3 class="news-and-events__title header--h3-small">{{ fields.title.content }}</h3>
				<p class="body-text--small">{{ fields.body.content }}</p>
				{% if fields.field_hc_article_category.content %}
					<p class="body-text--small">
						<strong>Category:</strong>
						{{ fields.field_hc_article_category.content }}
					</p>
				{% endif %}
			</div>
		</a>
	{% endif %}
</div>
