{#
/**
 * @file
 * HP Callout paragraph bundle.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = []
%}

<section{{attributes.addClass(classes).setAttribute('id','hp-'~paragraph.id())}} aria-label="Callout">

  {% if hp_call_type == 'standard' %}

    <div class="full-width-image-banner" style="background-image:url('{{ hp_call_image }}')" alt="{{ hp_call_image_alt }}">
      <div class="compartment">
        <div class="silc-grid silc-grid--collapse">
          <div class="silc-grid__col silc-grid__col--6-large">
            <h2>{{ content.field_hp_call_title }}</h2>

            {% for key, item in content.field_hp_call_links %}
              {%if key|first != '#' %}
                <a href="{{ content.field_hp_call_links[key]['#url'] }}" class="btn"{% if content.field_hp_call_links[key]['#options'].attributes.target %} target="{{ content.field_hp_call_links[key]['#options'].attributes.target }}"{% endif %}>
                  <span class="btn__text">{{ content.field_hp_call_links[key]['#title'] }}</span>
                  <span class="icon-arrow-right"></span>
                </a>
              {% endif %}
            {% endfor %}

          </div>
          <div class="silc-grid__col silc-grid__col--6-large"></div>
        </div>
      </div>
    </div>

  {% elseif hp_call_type == 'large_homepage_style' %}

    <div class="full-width-cta">
      <div class="background"><img src="{{ hp_call_image }}" alt="{{ hp_call_image_alt }}"></div>
        <div class="compartment">
            <h2>{{ content.field_hp_call_title }}</h2>
            {% for key, item in content.field_hp_call_links %}
            {% if key|first != '#' %}
                <a href="{{ content.field_hp_call_links[key]['#url'] }}" class="btn"{% if content.field_hp_call_links[key]['#options'].attributes.target %} target="{{ content.field_hp_call_links[key]['#options'].attributes.target }}"{% endif %}>
                  <span class="btn__text">{{ content.field_hp_call_links[key]['#title'] }}</span>
                  <span class="icon-arrow-right"></span>
                </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>

  {% endif %}

</section>
