<section class="section--padded-top section--padded-bottom"  aria-label="Parallax">
	{% if hp_show_wrapper %}
    <section class="compartment">
    {% endif %}
		<div class=" hp_parallax_bundle" >
			<div class="parallax_text {{ (float_left == 1 ) ? 'float_left' : '' }}">
				<aside class="parallax_text_container">
					<p class="lead-in">{{ content.field_hp_parallax_title }}</p>

					{%  if true in content.field_hp_parallax_description %}
					{{ content.field_hp_parallax_description }}
					{% endif %}

					{%  if true in content.field_hp_parallax_link[0] %}
					<a class="btn" href="{% spaceless %}{{-content.field_hp_parallax_link[0]['#url']-}}{% endspaceless %}">{{-content.field_hp_parallax_link[0]['#title']-}}</a>
					{% endif %}
				</aside>
			</div>
			<div class="parallax_image">
				<section class="background-image" style="background-image: url('{{hp_parallax_bg_image}}')">&nbsp;</section>
			</div>
		</div>
	{% if hp_show_wrapper %}
    </section>
    {% endif %}
</section>
