<section class="section--padded-top section--padded-bottom"  aria-label="Parallax">
	{% if hp_show_wrapper %}
    <section class="compartment">
    {% endif %}
		<div class=" hp_parallax_bundle" >
			<div class="h-100" >
				{# 	if float_left  is true  #}
				{%  if float_left == 1 %}
				<div class="featurettes_text float_left">
					<aside class="featurette">
						<p class="lead-in">{{ content.field_hp_parallax_title }}</p>
						{%  if true in content.field_hp_parallax_link %}
							{{ content.field_hp_parallax_description }}
						{% endif %}
						{%  if true in content.field_hp_parallax_link %}
						<a class="btn" href="{% spaceless %}{{-content.field_hp_parallax_link[0]['#url']-}}{% endspaceless %}">{{-content.field_hp_parallax_link[0]['#title']-}}</a>
						{% endif %}
					</aside>
				</div>
				<div class="featurettes_image float_right">
					<section class="background-image" style="background-image: url('{{hp_parallax_bg_image}}')">&nbsp;</section>
				</div>
				{% endif %}
				{# if float_left is false #}
				{%  if float_left == 0 %}
				<div class="featurettes_image float_left">
					<section class="background-image" style="background-image: url('{{hp_parallax_bg_image}}')">&nbsp;</section>
				</div>
				<div class="featurettes_text float_right">
					<aside class="featurette">
						<p class="lead-in">{{ content.field_hp_parallax_title }}</p>
						{%  if true in content.field_hp_parallax_link %}
							{{ content.field_hp_parallax_description }}
						{% endif %}
						{%  if true in content.field_hp_parallax_link %}
						<a class="btn" href="{% spaceless %}{{-content.field_hp_parallax_link[0]['#url']-}}{% endspaceless %}">{{-content.field_hp_parallax_link[0]['#title']-}}</a>
						{% endif %}
					</aside>
				</div>
				{% endif %}
			</div>
		</div>
	{% if hp_show_wrapper %}
    </section>
    {% endif %}
</section>