{#
/**
 * @file
 * HP Parallax paragraph bundle.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'section--padded-top',
    'section--padded-bottom'
  ]
%}

<section{{attributes.addClass(classes).setAttribute('id','hp-'~paragraph.id())}} aria-label="Parallax">
	{% if hp_show_wrapper %}
    <section class="compartment">
  {% endif %}
		<div class=" hp_parallax_bundle" >
			<div class="parallax_text {{ (float_left == 1 ) ? 'float_left' : '' }}">
				<aside class="parallax_text_container">
					<p class="lead-in">{{ content.field_hp_parallax_title }}</p>

					{%  if true in content.field_hp_parallax_description %}
					{{ content.field_hp_parallax_description }}
					{% endif %}

					{%  if true in content.field_hp_parallax_link[0] %}
						<a class="btn" href="{% apply spaceless %}{{-content.field_hp_parallax_link[0]['#url']-}}{% endapply %}">{{-content.field_hp_parallax_link[0]['#title']-}}</a>
					{% endif %}
				</aside>
			</div>
			<div class="parallax_image">
				<section class="background-image" style="background-image: url('{{hp_parallax_bg_image}}')">&nbsp;</section>
			</div>
		</div>
	{% if hp_show_wrapper %}
    </section>
  {% endif %}
</section>
