{#
/**
 * @file
 * HP News Feed paragraph bundle.
 * Holds both the 3 col with image, and 1 featured/3 title layouts
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'section--padded-top',
    'section--padded-bottom',
    'news-and-events',
    'news-and-events--department',
  ]
%}

<section{{attributes.addClass(classes).setAttribute('id','hp-'~paragraph.id())}} aria-label="News Feed">
  {% if hp_show_wrapper %}
    <div class="compartment">
  {% endif %}

      <div class="block-header">
        <div class="block-header__title"><span class=" block-header__icon icon-news"></span>
          <h2>{{ content.field_hp_anf_title }}</h2>
        </div>
        {% if content.field_hp_anf_link[0] %}
          <div class="block-header__btn">
            <a href="{{ content.field_hp_anf_link[0]['#url'] }}" class="fancy-link fancy-link--light" {% if content.field_hp_anf_link[0]['#options'].attributes.target %} target="{{ content.field_hp_anf_link[0]['#options'].attributes.target }}"{% endif %}>
              <span>{{ content.field_hp_anf_link[0]['#title'] }}</span>
              <span class="icon-arrow-right"></span>
            </a>
          </div>
        {% endif %}
      </div>

      {% if hp_anf_announcements[0] %}

        <div class="silc-grid">
          <div class="silc-grid__col silc-grid__col--12-medium">
          {% for evnt in hp_anf_announcements %}
            <a href="{{ hp_anf_env_url }}{{ evnt.attributes.path.alias }}" class="news-and-events__block" target="_blank">
              <div class="news-and-events__desc">
                <span class="news-and-events__date">{{ evnt.attributes.field_announcement_pub_date|date('M j, Y') }}</span>
                <h3 class="news-and-events__title header--h3-small">{{ evnt.attributes.title }}</h3>
                <p>{{ evnt.attributes.field_announcement_summary }}</p>
              </div>
            </a>
          {% endfor %}
          </div>
        </div>

      {% else %}
        <div class="silc-grid">
          <div class="silc-grid__col silc-grid__col--12-medium">
            <p>Sorry, no current announcements.</p>
          </div>
        </div>
      {% endif %}

  {% if hp_show_wrapper %}
    </div>
  {% endif %}
</section>
