{#
/**
 * @file
 * HP HTML paragraph bundle.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'section--padded-top',
    'section--padded-bottom',
    'hp-html'
  ]
%}

<section{{attributes.addClass(classes).setAttribute('id','hp-'~paragraph.id())}} aria-label="Body text">
  {% if hp_show_wrapper %}
    <div class="compartment">
  {% endif %}
      <div class="silc-grid silc-grid--collapse">

        {% if content.field_hp_html_show_sidebar[0]['#markup'] == 'On' %}
          <div class="silc-grid__col silc-grid__col--8-large">
        {% else %}
          <div class="silc-grid__col silc-grid__col--12-large hp-html--main">
        {% endif %}
            {% if content.field_hp_html_lead_in  %}
              <p class="lead-in">{{ content.field_hp_html_lead_in }}</p>
            {% endif %}
            {{ content.field_hp_html_body }}
          </div>

          <!-- Sidebar if fields are present -->
          {% if content.field_hp_html_show_sidebar[0]['#markup'] == 'On' %}
            <div class="silc-grid__col silc-grid__col--4-large">
              <div class="contact-box">
                {% if content.field_hp_html_sidebar_title[0] %}
                  <h2 class="sidebar-title">{{ content.field_hp_html_sidebar_title }}</h2>
                {% endif %}
                {{ content.field_hp_html_sidebar_body }}
              </div>
            </div>
          {% endif %}

      </div>
  {% if hp_show_wrapper %}
    </div>
  {% endif %}
</section>
