{#
/**
 * @file
 * HP giving Feed paragraph bundle.
 * Holds both the 3 col with image, and 1 featured/3 title layouts
 *
 * @ingroup themeable
 */
#}

<section class="section--padded-bottom" aria-label="Giving Feed">

{% if hp_gf_giving.data[0] %}

	{% if hp_gf_type == 'three_w_images' %}
		<div class="giving-feed">
			<div class="block-header block-header--{{modifier}}">
				<div class="block-header__title">
					<span class=" block-header__icon icon-giving-stories"></span>
					<h2>{{content.field_hp_gf_title}}</h2>
				</div>

				<div class="block-header__btn">
					<a href="{{content.field_hp_gf_link[0]['#url']}}" class="fancy-link fancy-link--light">
						<span>{{content.field_hp_gf_link[0]['#title']}}</span>
						<span class="icon-arrow-right"></span>
					</a>
				</div>
			</div>
			<div class="silc-grid">
				{% for evnt in hp_gf_giving.data %}
					<div class="silc-grid__col silc-grid__col--4-medium">
						<a href="{{ hp_gf_env_url }}{{ evnt.attributes.path.alias }}" class="giving-feed__block">
							<div class="giving-feed__img" style="background-image:url('{% if evnt.attributes.image.uri %}{{ evnt.attributes.image.uri }}{% else %}{{ hp_gf_default_image }}{% endif %}')"></div>
							<div class="giving-feed__desc">
								<span class="giving-feed__tag">{{ evnt.category_name }}</span>
								<h3 class="giving-feed__title header--h3-small">{{ evnt.attributes.title }}</h3>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>

	{% elseif hp_gf_type == 'one_featured' %}
		<div class="giving-feed">
			<div class="giving-feed giving-feed--featured">
				<div class="block-header block-header--{{modifier}}">
					<div class="block-header__title">
						<span class=" block-header__icon icon-giving-stories"></span>
						<h2>{{content.field_hp_gf_title}}</h2>
					</div>

					<div class="block-header__btn">
						<a href="{{content.field_hp_gf_link[0]['#url']}}" class="fancy-link fancy-link--light">
							<span>{{content.field_hp_gf_link[0]['#title']}}</span>
							<span class="icon-arrow-right"></span>
						</a>
					</div>
				</div>
				{% for evnt in hp_gf_giving.data %}
					<div class="silc-grid">
						<div class="silc-grid__col">
							<a href="{{hp_gf_env_url}}{{ evnt.attributes.path.alias }}" class="giving-feed__block">
								<div class="giving-feed__img" style="background-image:url('{% if evnt.attributes.image.uri %}{{ evnt.attributes.image.uri }}{% else %}{{ hp_gf_default_image }}{% endif %}')"></div>
								<div class="giving-feed__desc">
									<span class="giving-feed__tag">{{ evnt.category_name }}</span>
									<h3 class="giving-feed__title header--h3-small">{{ evnt.attributes.title }}</h3>
									<p class="giving-feed__copy">{{evnt.attributes.body.value | raw}}</p>
									<button class="btn">
										<span class="btn__text">Read More</span>
										<span class="icon-arrow-right"></span>
									</button>
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
{% else %}
	<div class="silc-grid">
		<div class="silc-grid__col silc-grid__col--12-medium">
			<p>No current giving stories.</p>
		</div>
	</div>
{% endif %}

</section>