{#
/**
 * @file
 * HP Graph paragraph.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'section--padded-top',
    'section--padded-bottom'
  ]
%}

<section{{attributes.addClass(classes).setAttribute('id','hp-'~paragraph.id())}} aria-label="Graph">
    {% if hp_show_wrapper %}
        <section class="compartment">
    {% endif %}
			<div class="hp_graph_bundle">
				<div class="text col">
					<div class="text_wrapper">
						{%  if true in content.field_hp_graph_title[0] %}
							<h2 class="lead-in">{{ content.field_hp_graph_title[0] }}</h2>
						{% endif %}
						{%  if true in content.field_hp_graph_description[0] %}
							<p>{{ content.field_hp_graph_description[0] }}</p>
						{% endif %}
					</div>
				</div>
				<div class="graph col">
					{% for i in 0..content.field_hp_graph_data|length %}
						{% if content.field_hp_graph_data[i] is not null %}
							{{ content.field_hp_graph_data[i] }}
						{% endif %}
					{% endfor %}
				</div>
				{%  if true in content.field_hp_graph_link[0] %}
				<div class="hyperlink">
					<a class="btn" href="{% spaceless %}{{-content.field_hp_graph_link[0]['#url']-}}{% endspaceless %}">{{ content.field_hp_graph_link[0]['#title'] }}</a>
				</div>
				{% endif %}
			</div>
	{% if hp_show_wrapper %}
        </section>
    {% endif %}
</section>
