{#
/**
 * @file
 * HP Promo Space with Multiple Images paragraph bundle.
 *
 * @ingroup themeable
 */
#}

<section class="section--padded-top section--padded-bottom hp_promo_space_multi_img" aria-label="Promotional Space">
  {% if hp_show_wrapper %}
    <div class="compartment">
  {% endif %}

      <div class="promotional-space">
        <div class="silc-grid silc-grid--collapse">
            <div class="silc-grid__col silc-grid__col--4-medium">
            <h2 class="header--h2">{{ content.field_hp_promo_title }}</h2>
            {{ content.field_hp_promo_text }}
            {% for key, item in content.field_hp_promo_links if key|first != '#' %}
                <a href="{{ content.field_hp_promo_links[key]['#url'] }}" class="fancy-link"{% if content.field_hp_promo_links[key]['#options'].attributes.target %} target="{{ content.field_hp_promo_links[key]['#options'].attributes.target }}"{% endif %}>
                  <span>{{ content.field_hp_promo_links[key]['#title'] }}</span>
                  <span class="icon-arrow-right"></span>
                </a>
            {% endfor %}
            </div>
            <div class="silc-grid__col silc-grid__col--8-medium">
              <div class="image silc-grid__col silc-grid__col--4-medium" style="background-image:url('{{ hp_promo_image_1 }}')"></div>
              <div class="image silc-grid__col silc-grid__col--4-medium" style="background-image:url('{{ hp_promo_image_2 }}')"></div>
              <div class="image silc-grid__col silc-grid__col--4-medium" style="background-image:url('{{ hp_promo_image_3 }}')"></div>
              <div class="image silc-grid__col silc-grid__col--4-medium" style="background-image:url('{{ hp_promo_image_4 }}')"></div>
              <div class="image silc-grid__col silc-grid__col--4-medium" style="background-image:url('{{ hp_promo_image_5 }}')"></div>
              <div class="image silc-grid__col silc-grid__col--4-medium" style="background-image:url('{{ hp_promo_image_6 }}')"></div>
            </div>
        </div>
      </div>

  {% if hp_show_wrapper %}
    </div>
  {% endif %}
</section>