{#
/**
 * @file
 * HP News Feed paragraph bundle.
 * Holds both the 3 col with image, and 1 featured/3 title layouts
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'section--padded-top',
    'section--padded-bottom',
    'news-and-events',
    (hp_nf_type == 'four_w_one_featured' or hp_nf_type == 'twenty_wo_images') ? 'news-and-events--department',
  ]
%}

<section{{attributes.addClass(classes).setAttribute('id','hp-'~paragraph.id())}} aria-label="News Feed">
  {% if hp_show_wrapper %}
    <div class="compartment">
  {% endif %}

      <div class="block-header">
        <div class="block-header__title"><span class=" block-header__icon icon-news"></span>
          <h2>{{ content.field_hp_nf_title }}</h2>
        </div>
        {% if content.field_hp_nf_link[0] %}
          <div class="block-header__btn">
            <a href="{{ content.field_hp_nf_link[0]['#url'] }}" class="fancy-link fancy-link--light" {% if content.field_hp_nf_link[0]['#options'].attributes.target %} target="{{ content.field_hp_nf_link[0]['#options'].attributes.target }}"{% endif %}>
              <span>{{ content.field_hp_nf_link[0]['#title'] }}</span>
              <span class="icon-arrow-right"></span>
            </a>
          </div>
        {% endif %}
      </div>

      {% if hp_nf_news[0] %}

        {% if hp_nf_type == 'three_w_images' %}

          <div class="silc-grid">
            {% for evnt in hp_nf_news %}
              <div class="silc-grid__col silc-grid__col--4-medium">
                <a href="{{ hp_nf_env_url }}/newsroom/article/{{ evnt.id }}/{{ evnt.uri }}" class="news-and-events__block" target="_blank">
                  <div class="news-and-events__img news-and-events__img_portrait" style="background-image:url('{% if evnt.image.large %}{{ evnt.image.large }}{% else %}{{ hp_nf_default_image }}{% endif %}')"></div>
                  <div class="news-and-events__desc">
                    <span class="news-and-events__date">{{ evnt.publication_date_formatted }}</span>
                    <h3 class="news-and-events__title header--h3-small">{{ evnt.label }}</h3>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>

        {% elseif hp_nf_type == 'three_w_one_featured' %}

          <div class="news-and-events--featured">
            {% for evnt in hp_nf_news %}

              {% if loop.first %}
                <div class="silc-grid silc-grid--no-gutters">
                  <div class="silc-grid__col silc-grid__col--12 news-and-events__white">
                    <div class="news-and-events__block news-and-events__block_feat_3up">
                        <div class="news-and-events__img" style="background-image:url('{% if evnt.image.large %}{{ evnt.image.large }}{% else %}{{ hp_nf_default_image }}{% endif %}')"></div>
                        <div class="news-and-events__desc">
                          <span class="news-and-events__date">{{ evnt.publication_date_formatted }}</span>
                          <h3 class="news-and-events__title header--h3-large">{{ evnt.label }}</h3>
                          <a href="{{ hp_nf_env_url }}/newsroom/article/{{ evnt.id }}/{{ evnt.uri }}" class="btn" target="_blank">
                            <span class="btn__text">View Featured Story</span>
                            <span class="icon-arrow-right"></span>
                          </a>
                        </div>
                    </div>
                  </div>
                </div>
              {% endif %}

              {% if loop.first %}
                <div class="silc-grid">
              {% endif %}

                {% if not loop.first %}
                  <div class="silc-grid__col silc-grid__col--4-medium">
                    <a href="{{ hp_nf_env_url }}/newsroom/article/{{ evnt.id }}/{{ evnt.uri }}" class="news-and-events__block" target="_blank">
                      <div class="news-and-events__desc">
                        <span class="news-and-events__date">{{ evnt.publication_date_formatted }}</span>
                        <h3 class="news-and-events__title header--h3-small">{{ evnt.label }}</h3>
                      </div>
                    </a>
                  </div>
                {% endif %}

              {% if loop.last %}
                </div>
              {% endif %}

            {% endfor %}
          </div>

        {% elseif hp_nf_type == 'four_w_one_featured' %}

          <div class="silc-grid">
            {% for evnt in hp_nf_news %}

              {% if loop.first %}
                <div class="silc-grid__col silc-grid__col--6-medium news-and-events__white">
                  <div class="news-and-events__block news-and-events__block_feat_4up">
                      <div class="news-and-events__img" style="background-image:url('{% if evnt.image.large %}{{ evnt.image.large }}{% else %}{{ hp_nf_default_image }}{% endif %}')"></div>
                      <div class="news-and-events__desc">
                          <div class="news-and-events__main">
                              <span class="news-and-events__date">{{ evnt.publication_date_formatted }}</span>
                              <h3 class="news-and-events__title header--h3-large">{{ evnt.label }}</h3>
                          </div>
                          <div class="news-and-events__btn">
                            <a href="{{ hp_nf_env_url }}/newsroom/article/{{ evnt.id }}/{{ evnt.uri }}" class="btn" target="_blank">
                              <span class="btn__text">View Featured Story</span>
                              <span class="icon-arrow-right"></span>
                            </a>
                          </div>
                      </div>
                  </div>
                </div>
              {% endif %}

              {% if loop.first %}
                <div class="silc-grid__col silc-grid__col--6-medium">
              {% endif %}

                {% if not loop.first %}
                  <a href="{{ hp_nf_env_url }}/newsroom/article/{{ evnt.id }}/{{ evnt.uri }}" class="news-and-events__block" target="_blank">
                    <div class="news-and-events__desc">
                      <span class="news-and-events__date">{{ evnt.publication_date_formatted }}</span>
                      <h3 class="news-and-events__title header--h3-small">{{ evnt.label }}</h3>
                    </div>
                  </a>
                {% endif %}

              {% if loop.last %}
                </div>
              {% endif %}

            {% endfor %}
          </div>
        {% elseif hp_nf_type == 'twenty_wo_images' %}

          <div class="silc-grid">
            <div class="silc-grid__col silc-grid__col--12-medium">
            {% for evnt in hp_nf_news %}
              <a href="{{ hp_nf_env_url }}/newsroom/article/{{ evnt.id }}/{{ evnt.uri }}" class="news-and-events__block" target="_blank">
                <div class="news-and-events__desc">
                  <span class="news-and-events__date">{{ evnt.publication_date_formatted }}</span>
                  <h3 class="news-and-events__title header--h3-small">{{ evnt.label }}</h3>
                </div>
              </a>
            {% endfor %}
            </div>
          </div>

        {% endif %}

      {% else %}
      <div class="silc-grid">
          <div class="silc-grid__col silc-grid__col--12-medium">
            <p>No current news stories.</p>
          </div>
        </div>
      {% endif %}

  {% if hp_show_wrapper %}
    </div>
  {% endif %}
</section>
