{#
/**
 * @file
 * HP Alumni Feed paragraph bundle.
 *
 * @ingroup themeable
 */
#}

<section class="section--padded-top section--padded-bottom">
  {% if hp_show_wrapper %}
    <div class="compartment">
  {% endif %}

      {% if content.field_hp_af_title[0] %}
        <div class="block-header">
            <div class="block-header__title">
                <span class=" block-header__icon icon-our-people"></span>
                <h2>{{ content.field_hp_af_title }}</h2>
            </div>
        </div>
      {% endif %}
      {% if content.field_hp_af_display_links_modal[0]['#markup'] == 'On' %}
        <div class="silc-grid modal--playlist">
      {% else %}
        <div class="silc-grid">
      {% endif %}

      {% for prsn in hp_af_profiles %}
        <div class="silc-grid__col silc-grid__col--4-medium">
          <div class="faculty-profile">
            <div class="faculty-profile__block">
            {% if prsn.image.large %}
              <div class="faculty-profile__img" style="background-image:url('{{ prsn.image.large }}')"></div>
            {% else %}
              <div class="faculty-profile__img" style="background-image:url('https://profiles.howard.edu/sites/all/modules/idfive_profile_api/assets/images/avatar.jpg')"></div>
            {% endif %}
              {% if content.field_hp_af_show_quote[0]['#markup'] == 'On' %}
                <div class="faculty-profile__quote">
                  {{ prsn.quote }}
                  <hr>
                </div>
              {% endif %}
              <h3>{{ prsn.label }}</h3>
              {% set person_meta = [] %}
              {% if prsn.title %}
                {% set person_meta = person_meta|merge([prsn.title]) %}
              {% endif %}
              {% if prsn.classification == 'faculty' %}
                {% if prsn.affiliation %}
                  {% set person_meta = person_meta|merge([prsn.affiliation]) %}
                {% endif %}
              {% else %}
                {% if prsn.year_graduated %}
                  {% set person_meta = person_meta|merge(['Class of ' ~ prsn.year_graduated]) %}
                {% endif %}
                {% if prsn.degree_earned %}
                  {% set person_meta = person_meta|merge([prsn.degree_earned]) %}
                {% endif %}
              {% endif %}
              <p>{{ person_meta|join(', ') }}</p>
            </div>
            <div class="faculty-profile__btn">
              {% if content.field_hp_af_display_links_modal[0]['#markup'] == 'On' %}
                <a href="javascript:;" data-micromodal-trigger="hp-alumni-feed-{{ prsn.id }}" class="fancy-link fancy-link--dark">
                <span>View More<span class="visually-hidden"> about {{ prsn.label }}</span></span>
              {% else %}
                <a href="{{ hp_pf_env_url }}/node/{{ prsn.id }}" class="fancy-link fancy-link--dark" target="_blank">
                <span>View Full Profile<span class="visually-hidden"> of {{ prsn.label }}</span></span>
              {% endif %}
                <span class="icon-arrow-right"></span>
              </a>
            </div>
          </div>
        </div>
        <!-- Modal -->
        {% if content.field_hp_af_display_links_modal[0]['#markup'] == 'On' %}
          <div class="modal modal--in-playlist" id="hp-alumni-feed-{{ prsn.id }}" aria-hidden="true">
            <div class="modal__overlay" tabindex="-1" data-micromodal-close>
              <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="hp-alumni-feed-{{ prsn.id }}-title">
                <header class="modal__header">
                  <h2 class="modal__title" id="hp-alumni-feed-{{ prsn.id }}-title">
                    {{ prsn.label }}
                  </h2>
                  <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
                </header>
                <main class="modal__content" id="hp-alumni-feed-{{ prsn.id }}-content">
                  <div class="silc-mbottom--5">
                    {% if prsn.image.large %}
                      <div class="faculty-profile__img" style="background-image:url('{{ prsn.image.large }}')"></div>
                    {% else %}
                      <div class="faculty-profile__img" style="background-image:url('https://profiles.howard.edu/sites/all/modules/idfive_profile_api/assets/images/avatar.jpg')"></div>
                    {% endif %}
                    {% if prsn.title %}<div><strong>Title:</strong> {{ prsn.title }}</div>{% endif %}
                    {% if prsn.affiliation %}<div><strong>Affiliation:</strong> {{ prsn.affiliation }}</div>{% endif %}
                    {% if prsn.hometown %}<div><strong>Hometown:</strong> {{ prsn.hometown }}</div>{% endif %}
                    {% if prsn.year_graduated %}<div><strong>Class of:</strong> {{ prsn.year_graduated }}</div>{% endif %}
                    {% if prsn.degree_earned %}<div><strong>Degree Earned:</strong> {{ prsn.degree_earned }}</div>{% endif %}
                  </div>
                  {# This check is to make sure the bio isn't only whitespace #}
                  {% if prsn.biography and prsn.biography.safe_value|trim("\xC2\xA0")|length > 0 %}
                    <div>
                      {{ prsn.biography.value|raw }}
                    </div>
                  {% endif %}
                  {% if prsn.quote %}
                    <div>
                      <blockquote>{{ prsn.quote|trim('“”') }}</blockquote>
                    </div>
                  {% endif %}
                </main>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}

      </div>
  {% if hp_show_wrapper %}
    </div>
  {% endif %}
</section>
