{#
/**
 * @file
 * HP Alumni Feed paragraph bundle.
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'section--padded-top',
    'section--padded-bottom'
  ]
%}

<section{{attributes.addClass(classes).setAttribute('id','hp-'~paragraph.id())}} aria-label="Alumni feed">
	{% if hp_show_wrapper %}
		<div class="compartment">
		{% endif %}

		{% if content.field_hp_af_title[0] %}
			<div class="block-header">
				<div class="block-header__title">
					<span class=" block-header__icon icon-our-people"></span>
					<h2>{{ content.field_hp_af_title }}</h2>
				</div>
			</div>
		{% endif %}

		{% if content.field_hp_af_descriptive_text %}
			<div class="block-header__description">{{ content.field_hp_af_descriptive_text }}</div>
		{% endif %}
		{% if content.field_hp_af_display_links_modal[0]['#markup'] == 'On' %}
			<div class="silc-grid modal--playlist">
		{% else %}
			<div class="silc-grid">
		{% endif %}
			{% for prsn in hp_af_profiles.data %}
				<div class="silc-grid__col silc-grid__col--4-medium">
					<div class="faculty-profile">
						<div class="faculty-profile__block">
							{% if prsn.attributes.image.uri %}
								<div class="faculty-profile__img"><img src="{{ prsn.attributes.image.uri }}" alt="{{ prsn.attributes.image.alt }}"></div>
							{% else %}
								<div class="faculty-profile__img"><img src="https://profiles.howard.edu/sites/profiles.howard.edu/themes/custom/hu_profiles_theme/idfive-component-library/src/img/howard_avatar.jpg" alt-="default profile image"></div>
							{% endif %}
							{% if content.field_hp_af_show_quote[0]['#markup'] == 'On' %}
								<div class="faculty-profile__quote">
									{{ prsn.attributes.field_person_card_quote }}
									<hr>
								</div>
							{% endif %}
							<h3>{{ prsn.attributes.title }}</h3>
							{% set person_meta = [] %}
							{% if prsn.attributes.field_person_title %}
								{% set person_meta = person_meta|merge([prsn.attributes.field_person_title]) %}
							{% endif %}
							{% if prsn.attributes.field_person_classification == 'faculty' %}
								{% if prsn.attributes.field_person_affiliation %}
									{% set person_meta = person_meta|merge([prsn.attributes.field_person_affiliation]) %}
								{% endif %}
							{% else %}
								{% if prsn.attributes.field_person_year_graduated %}
									{% set person_meta = person_meta|merge(['Class of ' ~ prsn.attributes.field_person_year_graduated]) %}
								{% endif %}
								{% if prsn.attributes.field_person_degree_earned %}
									{% set person_meta = person_meta|merge([prsn.attributes.field_person_degree_earned]) %}
								{% endif %}
							{% endif %}
							<p>{{ person_meta|join(', ') }}</p>
						</div>
						<div class="faculty-profile__btn">
							{% if content.field_hp_af_display_links_modal[0]['#markup'] == 'On' %}
								<a href="javascript:;" data-micromodal-trigger="hp-alumni-feed-{{ prsn.id }}" class="fancy-link fancy-link--dark">
								<span>View More<span class="visually-hidden"> about {{ prsn.attributes.title }}</span></span>
							{% else %}
								<a href="{{ hp_af_env_url }}/node/{{ prsn.attributes.drupal_internal__nid}}" class="fancy-link fancy-link--dark" target="_blank">
								<span>View Full Profile<span class="visually-hidden"> of {{ prsn.attributes.title }}</span></span>
							{% endif %}
							<span class="icon-arrow-right"></span>
							</a>
						</div>
					</div>
				</div>

				{# Modal #}
				{% if content.field_hp_af_display_links_modal[0]['#markup'] == 'On' %}
				<div class="modal modal--in-playlist" id="hp-alumni-feed-{{ prsn.id }}" aria-hidden="true">
					<div class="modal__overlay" tabindex="-1" data-micromodal-close>
						<div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="hp-alumni-feed-{{ prsn.id }}-title">
							<header class="modal__header">
								<h2 class="modal__title" id="hp-alumni-feed-{{ prsn.id }}-title">
									{{ prsn.attributes.title }}
								</h2>
								<button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
							</header>
							<main class="modal__content" id="hp-alumni-feed-{{ prsn.id }}-content">
								<div class="silc-mbottom--5">
									{% if prsn.attributes.image.uri %}
										<div class="faculty-profile__img" style="background-image:url('{{ prsn.attributes.image.uri }}')"></div>
									{% else %}
										<div class="faculty-profile__img" style="background-image:url('https://profiles.howard.edu/sites/all/modules/idfive_profile_api/assets/images/avatar.jpg')"></div>
									{% endif %}
									{% if prsn.attributes.field_person_title %}
										<div>
											<strong>Title:</strong>
											{{ prsn.attributes.field_person_title }}</div>
									{% endif %}
									{% if prsn.attributes.field_person_affiliation %}
										<div>
											<strong>Affiliation:</strong>
											{{ prsn.attributes.field_person_affiliation }}</div>
									{% endif %}
									{% if prsn.attributes.field_person_hometown %}
										<div>
											<strong>Hometown:</strong>
											{{ prsn.attributes.field_person_hometown }}</div>
									{% endif %}
									{% if prsn.attributes.field_person_year_graduated %}
										<div>
											<strong>Class of:</strong>
											{{ prsn.attributes.field_person_year_graduated }}</div>
									{% endif %}
									{% if prsn.attributes.field_person_degree_earned %}
										<div>
											<strong>Degree Earned:</strong>
											{{ prsn.attributes.field_person_degree_earned }}</div>
									{% endif %}
								</div>
								{# This check is to make sure the bio isn't only whitespace #}
								{% if prsn.attributes.field_person_biography and prsn.attributes.field_person_biography.value|trim("\xC2\xA0")|length > 0 %}
									<div>
										{{ prsn.attributes.field_person_biography.value|raw }}
									</div>
								{% endif %}
								{% if prsn.attributes.field_person_quote %}
									<div>
										<blockquote>{{ prsn.attributes.field_person_quote|trim('“”') }}</blockquote>
									</div>
								{% endif %}
							</main>
						</div>
					</div>
				</div>
				{% endif %}

			{% endfor %}

		</div>
		{% if hp_show_wrapper %}
		</div>
	{% endif %}
</section>

